body {
	background-color: black;
	color: white;
}


#header {
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2%;
}

.middle {
	margin-left: 17%;
	max-width: auto;
	display: inline-block;
	float: left;
}

#W, #wins, #losses, #L {
	font-weight: bold;
	display: inline;
	font-size: 25px;
}

#W {
	margin-left: 17%;
}


#L {
	text-align: right;
	margin-left: 15%;

}

#target, #targetScore, #score, #yourScore {
	clear: both;
	font-weight: bold;
	display: inline-block;
	font-size: 25px;

}

#target {
	margin-left: 17%;
}


#score {
	text-align: right;
	margin-left: 12%;