header {
	text-align: center;
	font-weight: bold;
	padding-top: 5%;
}

.middle {
	margin-left: 17%;
/*	margin-right: 19%*/
	max-width: auto;
	display: inline-block;
/*	margin: 0;*/
/*	height: auto;*/
/*	float: left;*/
	padding-top: 3%;
}

#W, #wins, #losses, #L {
	font-weight: bold;
	display: inline;
	font-size: 25px;
}

#W {
	margin-left: 17%;
}


#L {
	text-align: right;
	margin-left: 15%;

}

.target, .score, #yourScore, #targetScore {
	font-weight: bold;
	display: inline;
	font-size: 25px;
}